/* .result {
  width: 95%;
}

@media screen and (min-width: 40.063em) and (max-width: 357px) {
  .result {
    margin-left: 0;
  }
}

@media screen and (max-width: 40em) {
  .result {
    margin-left: 0;
  }
} */