.callout {
  padding-left: 20px;
  width: 95%;
  margin-left: 10px;
}

@media screen and (min-width: 40.063em) and (max-width: 357px) {
  .callout {
    margin-left: 0;
  }
}

@media screen and (max-width: 40em) {
  .callout {
    margin-left: 0;
  }
}