.rating-body {
    padding: 30px;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
    color: grey;
}

.checked {
    color: #1565c0;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #1565c0;}
.bar-4 {width: 30%; height: 18px; background-color: #1565c0;}
.bar-3 {width: 10%; height: 18px; background-color: #1565c0;}
.bar-2 {width: 4%; height: 18px; background-color: #1565c0;}
.bar-1 {width: 15%; height: 18px; background-color: #1565c0;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
        display: none;
    }
}