[type=radio]+label.dv-star-rating-star   {
    margin-left: 0;
    margin-right: 0;
}

 

 
.ranking-content {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

form .button {
    background-color: #1565c0;
    margin-top: 20px;
}
 
