nav {
    padding: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #eaeaea;
    min-height: 140px;
}

.brand-logo h1 {
    font-family: 'Ovo', serif;
    color: #1565c0;
}

.action {
    background-color: #1565c0;
    color: white;
}

nav a {
    color: #1565c0;
}

nav ul {
    float: right;
}

nav a:hover,
nav a:visited {
    color: #1565c0;
    font-style: italic;
} 

nav .action:hover,
nav .action:visited {
    color: white;
    font-style: italic;
}

@media only screen and (max-width: 40em) { 
    nav .menu {
        margin-top: 20px;
    }

    .brand-logo h1 {
        font-size: 40px;
        text-align: center;
    } 

    nav #slogan {
        display: none;
    }
}