/* .home-main {
  position: relative;
} */

.slideshow-container {
  position: relative;
  margin: auto;
  overflow:visible; 
  background: black;
  margin: 0 auto;
}

.slideshow-container img {
  width: 100%;
  top:0px; 
  left:0px;
  opacity: .80;
}

.slideshow-container .textbox {
  margin: 0 auto;
}


/* .hero {
  margin: 0 auto;
  background: url(/assets/img/fabian-mardi-119790-unsplash.jpg);
  background-repeat: no-repeat;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  opacity: .2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.hero * {
  position: relative;
  z-index: 2;
}*/

